<div class="navbar-container">
    <div class="navbar-options-container">
    <div class="logo-text">
        <img src="../../../../assets/logo.png" class="logo-image">
        avaana</div>
    <div class="option-1">Health and Wellbeing Appointments</div>
    <div class="option-2">Fitness Classes</div>
    <div class="option-3">
        <mat-icon>search</mat-icon>
        <mat-icon class="ml-5">account_circle</mat-icon>
    </div>
    <div class="option-4"><button class="primary-cta">List with us</button></div>
    </div>
</div>