<div class="appointments-tab-wrapper"> 
    <div class="input1">
        <input class="search search1" placeholder="&#61442; Search for a service, provider or symptom">
    </div>
    <div class="input2">
        <input class="search search2" placeholder="&#xf041; Select a location">
    </div>
    <div class="input3">
        <input class="search search3" placeholder="&#xf272; When do you want to go?">
    </div>
    <div>
        <button class="primary-cta discover-btn">Discover</button>
    </div>
</div>